@media screen and (min-width: 1200px) {
  html body #homeHeader, html body #learnHeader, html body #servicesHeader, html body #shopHeader, html body #contactHeader {
    background-image: none; }
  html body header {
    height: 100vh;
    position: relative; }
  html body .layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 125vh;
    position: fixed;
    z-index: -1;
    overflow: visible; }
    html body .layer .parallaxImg {
      display: block;
      width: 100%;
      position: relative;
      bottom: 20%; }
  html body #color {
    opacity: 0;
    background-color: #f6c421; }
  html body #splashContent {
    z-index: 1; }
  html body .hex {
    background-image: url("../img/icons/hex.svg");
    background-position: left center;
    background-size: cover;
    opacity: 0.3; }
  html body header {
    background-color: transparent; }
    html body header .navRow {
      background-color: transparent;
      margin-bottom: 0; }
    html body header #mainNav ul {
      margin-bottom: 0;
      margin-top: 0; }
      html body header #mainNav ul li {
        display: inline-block; }
        html body header #mainNav ul li a {
          font-size: 1.125em; }
          html body header #mainNav ul li a:hover + .hoverBar {
            width: 100%;
            left: 0%; }
    html body header .hidden {
      display: none; }
    html body header .stickyNavRow {
      position: fixed;
      width: 100%;
      background-color: #4a494a;
      z-index: 2; }
    html body header .staticNav {
      padding-top: 2.5em;
      padding-bottom: 3.5em; }
    html body header .stickyNav {
      padding-top: 0.625em; }
    html body header #logo img {
      width: 15%;
      padding-bottom: 1.5em; }
    html body header #logo .divider {
      height: 0.3125em;
      background-color: #fff;
      width: 15%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.25em;
      margin-bottom: 1.25em; }
    html body header #logo #logoText img {
      width: 40%;
      padding-top: 3em;
      padding-bottom: 2.5em; }
    html body header #logo #logoText h2 {
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 2.5em; }
  html body .mainContent .sideBorder {
    border-left: solid 6px #f6c421;
    border-top: none;
    padding-left: 20px;
    padding-top: 0; }
  html body .mainContent ul.sideBorder {
    padding-left: 40px; }
  html body .mainContent .infoHeading {
    size: 2.1875em; }
  html body .mainContent .service {
    clear: none !important;
    float: left !important; }
    html body .mainContent .service .iconBlock {
      float: none !important; }
  html body .mainContent #secondaryNav, html body .mainContent #services {
    overflow: hidden; }
    html body .mainContent #secondaryNav #navHeading, html body .mainContent #services #navHeading {
      padding-bottom: 3.125em; }
      html body .mainContent #secondaryNav #navHeading h3, html body .mainContent #secondaryNav #navHeading h2, html body .mainContent #services #navHeading h3, html body .mainContent #services #navHeading h2 {
        font-size: 3.125em;
        font-weight: 300; }
      html body .mainContent #secondaryNav #navHeading h2, html body .mainContent #services #navHeading h2 {
        color: #f6c421;
        font-weight: 700; }
    html body .mainContent #secondaryNav .iconBlock, html body .mainContent #services .iconBlock {
      float: left;
      clear: none;
      text-align: center;
      margin-bottom: 0; }
      html body .mainContent #secondaryNav .iconBlock img, html body .mainContent #services .iconBlock img {
        width: 35%;
        padding-bottom: 1.3em; }
      html body .mainContent #secondaryNav .iconBlock .iconBlockHeading, html body .mainContent #services .iconBlock .iconBlockHeading {
        color: #f6c421;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        font-size: 2.1875em; }
      html body .mainContent #secondaryNav .iconBlock .navLinkBody, html body .mainContent #services .iconBlock .navLinkBody {
        line-height: 1.35em;
        font-family: "Open Sans", sans-serif;
        font-size: 1.25em; }
  html body .mainContent .mainContent #info-btns .bee-btn {
    width: 40px;
    height: 40px;
    margin: 0 10px; }
  html body .mainContent .shopItem {
    margin-top: 40px;
    margin-bottom: 40px; }
    html body .mainContent .shopItem .shopPrice {
      text-align: center;
      width: 10%; }
  html body .mainContent .hideText {
    display: block; }
  html body .mainContent #readMore {
    display: none; }
  html body .mainContent #contactForm form input, html body .mainContent #contactForm form textarea {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; }
    html body .mainContent #contactForm form input ::-webkit-input-placeholder, html body .mainContent #contactForm form textarea ::-webkit-input-placeholder {
      text-transform: capitalize; }
  html body .mainContent #contactForm form .paddingFixLeft {
    padding-left: 0.9375em; }
  html body .mainContent #contactForm form .paddingFixRight {
    padding-right: 0.9375em; }
  html body footer {
    padding-top: 2.1875em;
    padding-bottom: 2.1875em; }
    html body footer #copyright {
      font-size: 0.8125em; }
  html body .mainContent .serviceSelection {
    width: 60%;
    margin: 0 auto; }
    html body .mainContent .serviceSelection li {
      display: inline-block;
      width: 32%;
      text-align: center; }
      html body .mainContent .serviceSelection li a {
        color: #f6c421; } }

/*# sourceMappingURL=desktop.css.map */
