@charset "utf-8";
/* CSS Document */

/* --------- FONTS --------- */

/* --------- RESETS / DEFAULTS --------- */

html, body{
	font-size: 100%; /*allows us to use ems for font size*/
}

h1, h2{
	font-size: 2em;
	color: blue;
}

/* --------- CSS ANIMATIONS --------- */

/* ------------------ MAIN NAV --------- */

/* ------------------ HEADER --------- */

/* ------------------ FOOTER --------- */

/* ------------------ HOME PAGE --------- */

/*-----Features Preview-----*/

/*-----Our Mission-----*/

/*-----The Bees-----*/

/*-----Our Story-----*/


/* ------------------ LEARN PAGE --------- */

/* ------------------ SERVICES PAGE --------- */

/* ------------------ SHOP PAGE --------- */

/* ------------------ CONTACT PAGE --------- */







/*------------------- MEDIA QUERIES START HERE ----------------------*/

/* SMALL to MEDIUM Screen Transition*//*640/16*/
@media screen and (min-width: 40em)  {
	/* --------- RESETS / DEFAULTS --------- */

	html, body{
		font-size: 100%; /*allows us to use ems for font size*/
	}

	h1, h2{
		font-size: 2em;
		color: blue;
	}

	/* --------- CSS ANIMATIONS --------- */

	/* ------------- MAIN NAV --------- */

	/* ------------- HEADER --------- */

	/* ------------- FOOTER --------- */

	/* ------------- HOME PAGE --------- */

	/*-----Features Preview-----*/

	/*-----Our Mission-----*/

	/*-----The Bees-----*/

	/*-----Our Story-----*/


	/* ------------- LEARN PAGE --------- */

	/* ------------- SERVICES PAGE --------- */

	/* ------------- SHOP PAGE --------- */

	/* ------------- CONTACT PAGE --------- */

}


/*MEDIUM to LARGE Screen Transition*//*1024/16*/
@media screen and (min-width: 64em)  {
	/* --------- RESETS / DEFAULTS --------- */

	html, body{
		font-size: 100%; /*allows us to use ems for font size*/
	}

	h1, h2{
		font-size: 2em;
		color: blue;
	}

	/* --------- CSS ANIMATIONS --------- */

	/* ------------- MAIN NAV --------- */

	/* ------------- HEADER --------- */

	/* ------------- FOOTER --------- */

	/* ------------- HOME PAGE --------- */

	/*-----Features Preview-----*/

	/*-----Our Mission-----*/

	/*-----The Bees-----*/

	/*-----Our Story-----*/


	/* ------------- LEARN PAGE --------- */

	/* ------------- SERVICES PAGE --------- */

	/* ------------- SHOP PAGE --------- */

	/* ------------- CONTACT PAGE --------- */

}