//font families
$headingFonts: 'Montserrat', sans-serif;
$bodyFonts: 'Open Sans', sans-serif;

//colors
$yellow: #f6c421;
$grey: #5c5b5c;

@media screen and (min-width: 48em) {//768/16
  body {
    header {
      #stickyLogo {
        img {
          width: 65%;
          padding: {
            top: 0.8em;
            bottom: 0.8em;
          }
        }
      }
      .hamburgerBar {
        height: 0.3em;
        margin-top: 1em;
        width: 85%;
      }

      .barOpen {
        &:first-child {
          transform: rotate(45deg);
          margin-top: 2.8125em;//45/16
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
          margin-top: -0.1875em;//-3/16
        }
        &:last-child {
          opacity: 0;
        }
      }
      #mainNav {
        ul {
          li {
            a {
              font: {
                size: 2em;
              }
            }
          }
        }
      }

       //splash image logo
      #logo {
        img {
          width: 25%;
          padding: {
            bottom: 1.5em;
          }
        }
        #logoText {
          img {
            width: 70%;
          }
          h2 {
            font: {
              size: 2.5em;
            }
          }
        }//logotext close
      }//logo close
    }//header close

    ///////////////////////////////////////////////////////
    //HOME PAGE
    ///////////////////////////////////////////////////////
    .mainContent {
      #secondaryNav, #services {
        #navHeading {
          h3, h2 {
            font: {
              size: 2.5em;
            }
          }
        }
        .iconBlock {
          margin: {
            top: 3.75em;//60/16
          }
          .iconBlockHeading {
            font: {
              size: 2.5em;
            }
          }
          .navLinkBody {
            font: {
              size: 1.75em;
            }
          }
        }
      }
    }
    ///////////////////////////////////////////////////////
    //LEARN PAGE
    ///////////////////////////////////////////////////////
    .mainContent {
      #infobee {
      }
      #info-btns {
        .bee-btn {
          width: 2.5em;//40/16
          height: 2.5em;//40/16
          margin: 0 0.3125em;//5/16
        }
      }
    }

    ///////////////////////////////////////////////////////
    //SHOP PAGE
    ///////////////////////////////////////////////////////
    .mainContent {
      .shopPrice {
        width: 15%;
      }
    }
    ///////////////////////////////////////////////////////
    //CONTACT PAGE
    ///////////////////////////////////////////////////////
    .mainContent {
      #address {
        .contactHeading {
          padding: {
            left: 1.25em;//20/16
          }
          font: {
            size: 2.5em;
          }
        }
      }
      #contactForm {
        form {
          label {
            font: {
              size: 1.3em;
            }
          }
        }
      }
    }

  }//body close
}//media query close
